@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap");

body {
  background: linear-gradient(180deg, #14131b 0%, #08070b 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 64px;
  padding-left: 16px;
  padding-right: 16px;
}

#root {
  width: 100%;
}

.password_h2 {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #817d92;
}

.copy_box {
  background: #24232c;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
  height: 80px;
}

.copy_numbers {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #e6e5ea;
}

.logo_div {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.copied_text {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #a4ffaf;
}

.logo_div:hover .my_path {
  fill: white;
}

.container {
  width: 100%;
  background: #24232c;
  padding-top: 21px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  box-sizing: border-box;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.character_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 32px;
}

.character_length {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #e6e5ea;
}

.character_number {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #a4ffaf;
}

.input_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 40px;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  margin-top: 23px;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #18171f;

  height: 8px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: white;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-top: -10px;
  background-position: center;
  position: relative;
  z-index: 2;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background-color: #18171F;
  border: 2px solid #A4FFAF;
}

.green_line {
  width: 50%;
  background: #a4ffaf;
  height: 8px;
  top: 23px;
  position: absolute;
  left: 0;
}

.checkbox_div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding-bottom: 32px;
  box-sizing: border-box;
}

.checkbox_text {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #e6e5ea;
}

.checkbox_label_box {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  position: relative;
}

.checkbox_button {
  width: 20px;
  height: 20px;
  border: 2px solid #e6e5ea;
  cursor: pointer;
  background: none;
}

.checkbox_button:hover{
  border: 2px solid #A4FFAF;
}

.strength_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 56px;
  background: #18171f;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
}

.strength_h2 {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #817d92;
}

.strength_power {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.medium_text {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: right;
  color: #e6e5ea;
}

.energy_levels_box {
  display: flex;
  gap: 8px;
}

.level {
  width: 10px;
  height: 28px;
  border: 2px solid #e6e5ea;
}

.generate_button {
  background: #a4ffaf;
  width: 100%;
  height: 56px;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #24232c;
  margin-top: 16px;
  border: none;
  cursor: pointer;
}
